<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Revenger's App</h3>
                        <p>
                            The Bronx <br>
                            NY 10473, USA<br><br>
                            <strong>Phone:</strong> +1 347 666 696<br>
                            <strong>Email:</strong> revengers@gmail.com<br>
                        </p>
                      
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>


                        <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Privacy">Privacy policy</a></li>
                    </ul>
                </div>

            

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Check Keyboard</h4>
                    <p>I hope you enjoy the beautiful view</p>
                    

                </div>

            </div>
        </div>
    </div>


</footer><!-- End Footer -->